<footer class="footer-distributed d-flex justify-content-between">

    <div class="footer-left">
        <h3>Easy<span>Work</span></h3>

        <div class="footer-right ">
            <div class="footer-icons mt-3 d-flex justify-content-around">

                <a href="#"><i class="fa-brands fa-facebook pr-2"></i></a>
                <a href="#"><i class="fa-brands fa-instagram pr-2"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin pr-2"></i></a>
                <a href="#"><i class="fa-brands fa-github pr-2"></i></a>

            </div>
        </div>
    </div>

    <p class="footer-coop text-white d-flex align-items-center">Feito com carinho Copyright © 2022 - Todos os direitos reservados</p>

    <div class="footer-center d-flex align-items-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>444 S. Cedros Street</span> São Paulo , São Paulo</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+55.(11).555.5555</p>
        </div>

        <div>
            <i class="fa fa-envelope mb-2"></i>
            <p><a href="mailto:support@company.com">support@company.com</a></p>
        </div>

        <div>
            <i class="fa fa-envelope mb-2"></i>
            <p><a class="link" routerLink="/termos">Termos de Privacidade</a></p>
    </div>
</div>


</footer>