<footer class="footer-distributed d-flex justify-content-between" id="footer">

    <div class="footer-left mt-2 mb-2">
        <h3>Easy<span>Work</span></h3>
        <p class="footer-coop text-white d-flex align-items-center mb-1">Feito com carinho Copyright © 2022 - Todos os direitos reservados</p>
</div>
    <div class="footer-center d-flex align-items-center">

        <div class="justify-content-between ml-2">
            <i class="fa fa-envelope mb-2"></i>
            <p><a href="mailto:support@company.com">support@company.com</a></p>
        

        
            <i class="fa fa-tachometer-average mb-2"></i>
            <p><a class="link" routerLink="/termos">Termos de Privacidade</a></p>
    </div>
</div>


</footer>