<app-nav-bar></app-nav-bar>

<div class="container-fluid">
  <!-- <div class="row"> -->
  <div class="container p-0">
    <h1 class="dev text-center my-5">Time Desenvolvedor</h1>

    <div class="card-deck">
      <div class="row d-flex justify-content-center">
        <div class="col-md-4">
          <div class="card border border-dark my-5 bg-transparent">
            <img
              src="https://github.com/evyrosa.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Evelyn Rosa</h5>
              <p class="card-text">
                Desenvolvedora Web Full-Stack Java formada na Generation Brasil.
              </p>
            </div>
            <div class="card-footer bg-secondary p-0 py-0 pt-3">
              <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                  <ul class="social-network">
                    <li>
                      <a href="https://github.com/evyrosa" target="_blank">
                        <i class="fa-brands fa-github-square"></i>
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://www.linkedin.com/in/evyrosa/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border border-dark my-5 bg-transparent">
            <img
              src="https://github.com/BielIl.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Gabriel Nolasco</h5>
              <p class="card-text">
                Desenvolvedor Web Full-Stack Java formada na Generation Brasil.
              </p>
            </div>
            <div class="card-footer bg-secondary p-0 py-0 pt-3">
              <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                  <ul class="social-network">
                    <li>
                      <a href="https://github.com/BielIl" target="_blank">
                        <i class="fa-brands fa-github-square"></i>
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://www.linkedin.com/in/gabriel-luis-nolasco-10b18b22b/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border border-dark my-5 bg-transparent">
            <img
              src="https://github.com/isabelalberti.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-center">Isabel Alberti</h5>
              <p class="card-text text-center">
                Estudante do curso  de Análise e Desenvolvimento de Sistemas pela Estácio.
                Desenvolvedora Web Full-Stack Java formada na
                <a
                  href="https://brazil.generation.org/"
                  class="text-primary"
                  target="_blank"
                  >Generation Brasil.</a
                >
              </p>
            </div>
            <div class="card-footer bg-secondary p-0 py-0 pt-3 ">
              <div class="row">
                <div class="col-md-12 d-flex justify-content-around ">
                  <ul class="social-network">
                    <li>
                      <a
                        href="https://github.com/isabelalberti"
                        target="_blank"
                      >
                        <i class="fa-brands fa-github-square "></i>
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://www.linkedin.com/in/isabel-alberti/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border border-dark my-5 bg-transparent">
            <img
              src="https://github.com/Lucxsss.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Lucas Henrique</h5>
              <p class="card-text">
                Desenvolvedor Web Full-Stack Java formada na Generation Brasil.
              </p>
            </div>
            <div class="card-footer bg-secondary p-0 py-0 pt-3">
              <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                  <ul class="social-network">
                    <li>
                      <a href="https://github.com/Lucxsss" target="_blank">
                        <i class="fa-brands fa-github-square"></i>
                      </a>
                    </li>
                    <li>
                      <a href="" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border border-dark my-5 bg-transparent">
            <img
              src="https://github.com/RodrigoBaba.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-center">Rodrigo N. Baba</h5>
              <p class="card-text  text-center">
               Estudante do curso de Ciências da Computação pela Faculdade Impacto.Desenvolvedor Web Full Stack Junior, participando do
                Bootcamp de desenvolvimento Web Full Stack na
                <a
                  href="https://brazil.generation.org/"
                  class="text-primary"
                  target="_blank"
                  >Generation Brasil</a
                >.
              </p>
                </div>
            <div class="card-footer bg-secondary p-0 py-0 pt-3">
              <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                  <ul class="social-network">
                    <li>
                      <a href="https://github.com/RodrigoBaba" target="_blank">
                        <i class="fa-brands fa-github-square"></i>
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://www.linkedin.com/in/rodrigo-nuciatelli-baba-a64414217/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- #050203 -->
