.deepBlack {
    color: #050203;
}

.cw {
    color: #ffffff;
}
.bg-test {
    border-radius: 32px;
    background-color: #be00d72a !important;
}

.hovercyan {
    color: #0197de;
}

.hovercyan:hover {
    color: #d70046;
    text-decoration: none;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 8px 32px;
    text-decoration: none;
    text-transform: uppercase;
    color: #0197de;
    letter-spacing: 10px;
    font-size: 18px;
    transition: 0.5s;
    border-radius: 4px;
}

.btn:hover {
    color: #d70046;
}

.btn span {
    display: block;
    position: absolute;
    background: #0197de;
}

.btn span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 1%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.btn:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.btn span:nth-child(2) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.btn:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}

.btn span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 1%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.btn:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.btn span:nth-child(4) {
    left: 0;
    top: 0;
    width: 100%;
    height: 1%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.btn:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.img-fluid {
    width: 150px;
}

.ponteiro {
    cursor: pointer;
}
