.row{
  background-image: url(../../assets/img/bgCookies.png);
  background-size: cover;
  background-position: 100% 40%;
  background-repeat: no-repeat;
}

.titulo{
  color: #ffff;
  margin-top: 2rem;
}

.subtitulo{
  color: #ffff;
}

.texto{
  color: #ffff;
  margin: 1rem;
}

.link{
  color: #ffff;
}

.imagem{
  height: 20vw;
  width: 20vw;
  max-width: 40vw;
  max-height: 40vw;
}