<app-nav-bar></app-nav-bar>
<div class="container-fluid d-flex justify-content-center">
    <div class="row d-flex flex-column align-items-center">
        <div class="col-md-6 d-flex justify-content-center">
            <img
                width="380px"
                class="img-fluid m-0 mr-4"
                src="../../assets/img/contact-us-bro.svg"
                alt="contact us"
            />
            <div class="col-md-6 mt-5">
                <h1 class="ideia ml-5 mt-5 text-white">
                    Gostou do projeto, quer trocar uma ideia?
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div
        class="row d-flex flex-column align-items-center justify-content-center"
    >
        <div class="col-md-6">
            <p class="title m-0 mt-1 text-white">Titulo</p>
            <input
                class="form-control mt-2"
                name="titulo"
                id="idtitulo"
                placeholder=""
                type="text"
            />
        </div>
        <div class="col-md-6">
            <p class="mgs m-0 mt-3 text-white">Mensagem</p>
            <textarea
                class="form-control mt-2"
                name="mensagem"
                id="idmensagem"
                placeholder=""
                type="text"
            ></textarea>
        </div>
        <div class="col-md-6">
            <div class="button d-flex align-content-end justify-content-end">
                <button type="submit" class="btn btn-success mt-3">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
