<app-nav-bar></app-nav-bar>
<div class="container-fluid d-flex justify-content-center">
    <img
        width="400px"
        class="img-fluid mt-5"
        src="../../assets/img/contact-us-bro.svg"
        alt="contact us"
    />
</div>

<h1 class="ideia mt-3 d-flex justify-content-center">
    Gostou do projeto, quer trocar uma ideia?
</h1>

<div class="container-fluid">
    <div
        class="row d-flex flex-column align-items-center justify-content-center"
    >
        <div class="col-md-6">
            <p class="title m-0 mt-1">Titulo</p>
            <input
                class="form-control mt-2"
                name="titulo"
                id="idtitulo"
                placeholder=""
                type="text"
            />
        </div>
        <div class="col-md-6">
            <p class="mgs m-0 mt-2">Mensagem</p>
            <textarea
                class="form-control mt-2"
                name="mensagem"
                id="idmensagem"
                placeholder=""
                type="text"
            ></textarea>
        </div>
        <div class="col-md-6">
            <div class="button d-flex align-content-end justify-content-end">
                <button type="submit" class="btn btn-success mt-2 mb-2">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
