<nav class="navbar navbar-expand-lg text-uppercase">
    <div class="container-fluid">
        <a class="navbar-brand" href="#jumbotron">
            <img
                height="60px"
                src="../../assets/img/logo.png"
                alt="curriculo"
            />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
        >
            <span class="button navbar-toggler-icon"></span>
        </button>

        <div class="nav nav-pills d-flex flex-sm-row" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link fm text-white trocar" href="#jumbotron"
                        >Home <span class="sr-only">(current)</span></a
                    >
                </li>
                <li class="nav-item fm active">
                    <a class="nav-link text-white trocar" href="#aboutProject"
                        >Sobre</a
                    >
                </li>
                <li class="nav-item fm active">
                    <a class="nav-link text-white trocar" href="#missaovisao"
                        >Pilares</a
                    >
                </li>
                <li class="nav-item fm active">
                    <a class="nav-link text-white trocar" href="#technologies"
                        >Tecnologias</a
                    >
                </li>
                <li class="nav-item fm active">
                    <a class="nav-link text-white trocar" routerLink="/about"
                        >Equipe</a
                    >
                </li>
                <li class="nav-item fm active">
                    <a class="nav-link text-white trocar" routerLink="/contact"
                        >Contato</a
                    >
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <button type="submit" class="btn fm" routerLink="/login">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Entrar
                    </button>
                </li>
                <li>
                    <button type="submit" class="btn fm" routerLink="/register">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Cadastrar
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
