.navbar{
    background-color: rgba(15, 114, 114, 0.781);
}

li{
    list-style: none;
}
.navbar-brand{
    text-shadow: 3px 3px 10px rgba(25, 25, 26, 0.329);
}

.navbar-nav{
    text-shadow: 3px 3px 8px rgba(25, 25, 26, 0.329);
}

.button{
    position: relative;
    left: 33vh;
 }
 .btn {
     background-color: rgba(25, 25, 26, 0.055);
     color: rgba(25, 25, 26, 0.87);
     text-shadow: 3px 3px 8px rgba(25, 25, 26, 0.329);
     border: solid rgba(25, 25, 26, 0.472);
    
 }