<nav class="navbar navbar-expand-lg text-uppercase">
    <a class="navbar-brand">
        <img 
            src="../../assets/img/curriculo.png"
            alt="curriculo"
            class="img-fluid ml-4 mr-1"/>
    </a>
    <a class="navbar-brand text-white font-weight-bold" href="#jumbotron"
        >EasyWork</a
    >
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado"
        aria-expanded="false"
        aria-label="Alterna navegação"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active ml-5">
                <a
                    class="nav-link text-white font-weight-bold"
                    routerLink="/jumbotron"
                    >Início</a
                >
            </li>
            <li class="nav-item m-0 ml-3">
                <a class="nav-link text-white font-weight-bold" href="#"
                    >Curriculos</a
                >
            </li>
            <li class="nav-item m-0 ml-3">
                <a
                    class="nav-link text-white font-weight-bold"
                    routerLink="/about"
                    >Equipe</a
                >
            </li>
            <li class="nav-item m-0 ml-3">
                <a
                    class="nav-link text-white font-weight-bold"
                    routerLink="/contact"
                    >Contato</a
                >
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item m-0 ml-3">
                <button
                    class="btn btn-outline text-white mr-3 p-2 px-4"
                    routerLink="/login">
                    Login
                </button>
            </li>
            <li>
                <button
                    class="btn btn-outline text-white m-0 p-2 px-4"
                    routerLink="/register"
                >
                    Cadastrar
                </button>
            </li>
        </ul>
    </div>
</nav>
