.navbar {
    z-index: 999;
}

li {
    list-style: none;
}

.btn {
    border: solid rgb(255, 255, 255);
    transition: 200ms;
}

.btn:hover {
    color: rgb(122, 156, 189);
    border: solid rgb(122, 156, 189);
}

.img-fluid {
    color: white;
}
