<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Bootstrap</title>
</head>

<body style="background: url(./assets/img/chalkboard.jpg)">

    <!--Barra de Navegação-->
    <nav class="navbar navbar-expand-lg navbar-dark d-flex align-items-center ">
        <a class="navbar-brand">
            <img src="../../assets/img/curriculo.png" height="30" alt="curriculo" class="img-fluid ml-3">
          </a>
        <a class="navbar-brand text-dark font-weight-bold " href="#">EasyWorker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <div class="container mr-2">
                <ul class="navbar-nav d-flex justify-content-end ">
                    <li class="nav-item active m-0 ml-5 ">
                        <a class="nav-link text-dark font-weight-bold" href="#">Home</a>
                    </li>
                    <li class="nav-item m-0 ml-5">
                        <a class="nav-link text-dark font-weight-bold" href="#">Curriculos</a>
                    </li>
                    <li class="nav-item m-0 ml-5">
                        <a class="nav-link text-dark font-weight-bold" href="#">Sobre</a>
                    </li>
                    <li class="nav-item m-0 ml-5">
                        <a class="nav-link text-dark font-weight-bold" href="#">Minha Conta</a>
                    </li>
                </ul>
            </div>