body{
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;    
}
.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}

  .single_advisor_profile {
      position: relative;
      margin-bottom: 50px;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      z-index: 1;
      border-radius: 15px;
      -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
      box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  }
  .single_advisor_profile .advisor_thumb {
      position: relative;
      z-index: 1;
      border-radius: 15px 15px 0 0;
      margin: 0 auto;
      padding: 30px 30px 0 30px;
      background-color: #3f43fd;
      overflow: hidden;
  }
  .single_advisor_profile .advisor_thumb::after {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      width: 150%;
      height: 80px;
      bottom: -45px;
      left: -25%;
      content: "";
      background-color: #ffffff;
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
  }
  @media only screen and (max-width: 575px) {
      .single_advisor_profile .advisor_thumb::after {
          height: 160px;
          bottom: -90px;
      }
  }
  .single_advisor_profile .advisor_thumb .social-info {
      position: absolute;
      z-index: 1;
      width: 100%;
      bottom: 0;
      right: 30px;
      text-align: right;
  }
  .single_advisor_profile .advisor_thumb .social-info a {
      font-size: 14px;
      color: #020710;
      padding: 0 5px;
  }
  .single_advisor_profile .advisor_thumb .social-info a:hover,
  .single_advisor_profile .advisor_thumb .social-info a:focus {
      color: #3f43fd;
  }
  .single_advisor_profile .advisor_thumb .social-info a:last-child {
      padding-right: 0;
  }
  .single_advisor_profile .single_advisor_details_info {
      position: relative;
      z-index: 1;
      padding: 30px;
      text-align: right;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      border-radius: 0 0 15px 15px;
      background-color: #ffffff;
  }
  .single_advisor_profile .single_advisor_details_info::after {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      z-index: 1;
      width: 50px;
      height: 3px;
      background-color: #3f43fd;
      content: "";
      top: 12px;
      right: 30px;
  }
  .single_advisor_profile .single_advisor_details_info h6 {
      margin-bottom: 0.25rem;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single_advisor_profile .single_advisor_details_info h6 {
          font-size: 14px;
      }
  }
  .single_advisor_profile .single_advisor_details_info p {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      margin-bottom: 0;
      font-size: 14px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single_advisor_profile .single_advisor_details_info p {
          font-size: 12px;
      }
  }
  .single_advisor_profile:hover .advisor_thumb::after,
  .single_advisor_profile:focus .advisor_thumb::after {
      background-color: #070a57;
  }
  .single_advisor_profile:hover .advisor_thumb .social-info a,
  .single_advisor_profile:focus .advisor_thumb .social-info a {
      color: #ffffff;
  }
  .single_advisor_profile:hover .advisor_thumb .social-info a:hover,
  .single_advisor_profile:hover .advisor_thumb .social-info a:focus,
  .single_advisor_profile:focus .advisor_thumb .social-info a:hover,
  .single_advisor_profile:focus .advisor_thumb .social-info a:focus {
      color: #ffffff;
  }
  .single_advisor_profile:hover .single_advisor_details_info,
  .single_advisor_profile:focus .single_advisor_details_info {
      background-color: #070a57;
  }
  .single_advisor_profile:hover .single_advisor_details_info::after,
  .single_advisor_profile:focus .single_advisor_details_info::after {
      background-color: #ffffff;
  }
  .single_advisor_profile:hover .single_advisor_details_info h6,
  .single_advisor_profile:focus .single_advisor_details_info h6 {
      color: #ffffff;
  }
  .single_advisor_profile:hover .single_advisor_details_info p,
  .single_advisor_profile:focus .single_advisor_details_info p {
      color: #ffffff;
  }

  .header-menu{
    list-style: none
  }