<div class="container">
    <div class="main-body">
        <nav aria-label="breadcrumb" class="main-breadcrumb bg-dark">
            <ul class="header-menu p-2 text-uppercase d-flex justify-content-around">
                <li>
                    <a class="header-menu-tab text-white" href="#1"><span
                            class="icon entypo-cog scnd-font-color"></span>Configurações</a>
                </li>
                <li>
                    <a class="header-menu-tab text-white" href="#2"><span
                            class="icon fontawesome-user scnd-font-color"></span>Conta</a>
                </li>
                <li>
                    <a class="header-menu-tab text-white" href="#3"><span
                            class="icon fontawesome-envelope scnd-font-color"></span>Mensagens</a>
                </li>
                <li>
                    <a class="header-menu-tab text-white" href="#5"><span
                            class="icon fontawesome-star-empty scnd-font-color"></span>Meus Cards</a>
                </li>
            </ul>
        </nav>


        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{picture}}" alt="imagem do user" class="rounded-circle" width="150" />
                            <div class="mt-3">
                                <h4>{{fullName}}</h4>
                                <p class="text-secondary mb-1">
                                    {{city}}
                                </p>
                                <button type="button" class="btn btn-outline-secondary btn-md ml-2" style="width: 100%"
                                    data-toggle="modal" data-target="#novaPostagem">
                                    Olá, o que há de novo?
                                </button>
                                <div class="container-fluid mt-2 ml-4">
                                    <label class="btn btn-default" data-toggle="modal" data-target="#novaPostagem">
                                        <img class="iconFoto" src="https://i.imgur.com/3Vxv2W2.png"
                                            style="width: 20px; height: 20px;" />
                                        Foto <input type="button" hidden />
                                    </label>
                                    <label class="btn btn-default mr-5" data-toggle="modal" data-target="#novaPostagem">
                                        <img class="icon" style="width: 20px; height: 20px;"
                                            src="https://i.imgur.com/2kGNjeH.png" />
                                        Vídeo <input type="button" hidden />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-github mr-2 icon-inline">
                                    <path
                                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                    </path>
                                </svg>Github
                            </h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info">
                                    <path
                                        d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                    </path>
                                </svg>Twitter
                            </h6>
                            <span class="text-secondary">@bootdey</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-instagram mr-2 icon-inline text-danger">
                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                </svg>Instagram
                            </h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-facebook mr-2 icon-inline text-primary">
                                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                </svg>Facebook
                            </h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                    </ul>
                </div>
            </div>



            <h3 class="d-flex mb-3 justify-content-center">Meus Cards </h3>
            <div class="container">
                <div class="row">
                    <div class="d-flex mr-2">
                        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="
                    visibility: visible;
                    animation-delay: 0.2s;
                    animation-name: fadeInUp;
                ">
                            <div class="advisor_thumb">
                                <img src="{{picture}}" alt="" />
                            </div>
                            <!-- Team Details-->
                            <div class="single_advisor_details_info">
                                <h6>{{temaFormation}}</h6>
                                <p class="designation">{{description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>