<<<<<<< HEAD
=======
#bkg {
    background-size: 100% 100%;
}
>>>>>>> 5783d80698eb20f14e93ef7a33b69829d8fb94ed
.display-3 {
    text-shadow: -3px 2px 1px rgba(122, 156, 189, 0.89);
}
.carousel-txt {
    font-size: 20pt;
}

.carousel-col {
    display: flex;
    justify-content: center;
    align-items: center;
}
