<!-- Jumbotron -->
<div class="container-fluid" >
  <div class="row justify-content-center " >
    <div class="col-md-8" >
      <div class="jumbotron font-weight-bold bg-transparent text-center text-uppercase mt-5 mb-0">
        <h1 class="display-3 font-weight-bold mb-3 text-dark-50 mt-5 ">EasyWork</h1>
        <p class="text-dark-50">O EasyWork ajuda você a tornar seu curriculo mais relevantes para os
          empregadores, conectando você com o seu futuro.</p>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->
<img src="../../assets/img/Brainstorming session _Monochromatic.png" alt="">
<img src="../../assets/img/Online presentation_Flatline.png" alt="">
<img src="../../assets/img/Team meeting_Two Color.png" alt="">