<app-nav-bar></app-nav-bar>


<div class="container">
    <div id="landingCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner text-center">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-12">
                        <div
                            class="jumbotron font-weight-bold bg-transparent text-uppercase mt-5 mb-0"
                        >
                            <h1
                                class="display-3 font-weight-bold mb-3 text-white mt-5"                             
                                >
                                    EasyWork
                                </h1>
                                <div class="text-white carousel-txt">
                                    O EasyWork ajuda você a tornar seu curriculo
                                    mais relevante para os empregadores,
                                    conectando você com o seu futuro.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div
                            class="col-md-6 p-5 carousel-txt carousel-col text-white"
                        >
                            Tudo começa com o preenchimento dos seus dados em
                            nossa plataforma, projetada para ser simples e
                            intuitiva.
                        </div>
                        <div class="col-md-6 carousel-col">
                            <img
                                src="../../assets/img/typing-bro.svg"
                                class="d-block w-100"
                                alt="typing"
                            />
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-6 carousel-col">
                            <img
                                src="../../assets/img/user-research-bro.svg"
                                class="d-block w-100"
                                alt="user research"
                            />
                        </div>
                        <div
                            class="col-md-6 carousel-col carousel-txt text-white"
                        >
                            Vamos ajudar você a destacar as informações mais
                            relevantes do seu perfil profissional em cards
                            simples e organizados.
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div
                            class="col-md-6 carousel-col carousel-txt text-white"
                        >
                            Nossa plataforma será uma vitrine para as suas
                            melhores qualidades, aumentando suas chances de
                            sucesso em carreiras transformadoras.
                        </div>
                        <div class="col-md-6 carousel-col">
                            <img
                                src="../../assets/img/business-deal-bro.svg"
                                class="d-block w-100"
                                alt="business deal."
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button
            class="carousel-control-prev"
            type="button"
            data-target="#landingCarousel"
            data-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button
            class="carousel-control-next"
            type="button"
            data-target="#landingCarousel"
            data-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    </div>


