@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap");

body {
    background-image: url("../../Front_EasyWork/src/assets/img/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} /* You can add global styles to this file, and also import other style files */

* {
    font-family: "Comfortaa", cursive, Arial, Helvetica, sans-serif;
}

.fm {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 3px;
}
