.flip-card-container {
    color: rgb(71, 60, 60);
    width: 230px;
    height: 350px;
}

.flip-card-container-test {
    color: rgb(71, 60, 60);
    width: 130px;
    height: 150px;
}

.tam {
    width: 73vw;
}

.flip-card {
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transition: 0.6s 0.1s;
}

.flip-test {
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
    transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.801);
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card-front */
.card-front {
    transform: rotateY(0deg);
    z-index: 2;
}

/* .card-back */
.card-back {
    transform: rotateY(180deg);
    z-index: 1;
}

.dois {
    list-style: none;
}

li {
    padding-bottom: 12px;
    font-size: 14px;
    text-align: center;
    margin-right: 3rem;
}
