
<!-- <div class="container-fluid">
    <div class="row">
        <div class="container bg-transparent">
            <div class="d-flex justify-content-center flex-column">
                <nav>
                    <div
                        class="nav nav-tabs d-flex justify-content-center my-5"
                        id="nav-tab"
                        role="tablist"
                    >
                        <a
                            class="nav-link active text-info font-weight-bold"
                            id="nav-profile-tab"
                            data-toggle="tab"
                            href="#allCards"
                            role="tab"
                            aria-controls="nav-allCards"
                            aria-selected="false"
                            >Todas as publicações</a
                        >
                    </div>
                </nav>

                <div
                    class="tab-pane fade show active"
                    id="allCards"
                    role="tabpanel"
                    aria-labelledby="nav-allCards-tab"
                >
                    <div class="d-flex flex-wrap">
                        <div
                            class="flip-card-container m-3"
                            *ngFor="let card of cardList"
                        >
                            <div class="flip-card">
                                <div class="card-front">
                                    <ul
                                        class="dois d-flex justify-content-center align-items-center flex-column text-dark"
                                    >
                                        <li>{{ card.companyName }}</li>
                                        <li>{{ card.occupation }}</li>
                                        <li>{{ card.institution }}</li>
                                        <li>{{ card.formation }}</li>
                                        <li class="mt-5">
                                            <small>{{
                                                card.startDate
                                                    | date: "dd/MM/yyyy"
                                            }}</small>
                                        </li>
                                        <li>
                                            <small>{{
                                                card.endDate
                                                    | date: "dd/MM/yyyy"
                                            }}</small>
                                        </li>
                                        <li>{{ card.user.fullName }}</li>
                                    </ul>
                                </div>

                                <div class="card-back">
                                    <p class="btn btn-outline">
                                        {{ card.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div> -->
<!-- ! Nova Skill -->
<!-- <div class="d-flex flex-column">


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
        data-whatever="@mdo">
        Open modal for @mdo
    </button>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Nova habilidade
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="clear()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group d-flex flex-column">
                        <label class="nivel pr-3 align-items-center">
                            Escolha
                        </label>
                        <select (change)="choiceSkill($event)" class="form-control">
                            <option selected>Escolha</option>
                            <option value="skill">
                                Habilidade Pessoal
                            </option>
                            <option value="technicalSkill">
                                Habilidade Técnica
                            </option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="skillType == 'skill'">
                        <label for="skill" class="col-form-label">Habilidade Pessoal</label>
                        <input [(ngModel)]="skill.skill" type="text" class="form-control" id="skill"
                            name="skill" />
                    </div>

                    <div *ngIf="skillType == 'technicalSkill'">
                        <div class="form-group">
                            <label for="technicalSkill" class="col-form-label">Habilidade
                                Técnica</label>
                            <input [(ngModel)]="skill.technicalSkill" type="text" class="form-control"
                                id="technicalSkill" name="technicalSkill" />
                        </div>
                        <div class="form-group d-flex flex-column">
                            <label class="nivel pr-3 align-items-center">
                                Nível
                            </label>
                            <select (change)="choiceNivel($event)" class="form-control">
                                <option>Escolha um nível</option>
                                <option value="BASICO">
                                    Básico
                                </option>
                                <option value="INTERMEDIARIO">
                                    Intermediário
                                </option>
                                <option value="AVANCADO">
                                    Avançado
                                </option>
                                <option value="JUNIOR">
                                    Júnior
                                </option>
                                <option value="PLENO">Pleno</option>
                                <option value="SENIOR">
                                    Sênior
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Fechar
                </button>
                <button type="button" class="btn btn-primary" (click)="publish()" data-dismiss="modal">
                    Adicionar
                </button>
            </div>
        </div>
    </div>
</div> -->
<!-- ! Nova Skill -->

<!-- ? Publicações -->
<div class="container" id="postagens">
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center my-5" id="nav-tab" role="tablist">
            <a class="nav-link active text-secondary font-weight-bold" id="nav-todasPublicacoes-tab" data-toggle="tab"
                href="#todasPublicacoes" role="tab" aria-controls="nav-todasPublicacoes" aria-selected="true">Todas as publicações</a>
            <a class="nav-link text-secondary font-weight-bold" id="nav-profile-tab" data-toggle="tab"
                href="#publicacoesProfissionais" role="tab" aria-controls="nav-publicacoesProfissionais" aria-selected="false">Publicações Profissionais</a>
            <a class="nav-link text-secondary font-weight-bold" id="nav-publicacoesEducacionais-tab" data-toggle="tab"
                href="#publicacoesEducacionais" role="tab" aria-controls="nav-publicacoesEducacionais" aria-selected="false">Publicações Educacionais</a>
        </div>
    </nav>
    <div class="tab-content mt-5" id="nav-tabContent">

        <!-- ! Todas as publicações -->
        <div class="tab-pane fade show active" id="todasPublicacoes" role="tabpanel"
            aria-labelledby="nav-todasPublicacoes-tab"> 
            
            <div class="d-flex flex-wrap">
                <div
                    class="flip-card-container m-3"
                    *ngFor="let card of cardList"
                >
                    <div class="flip-card">
                        <div class="card-front">
                            <ul
                                class="dois d-flex justify-content-center align-items-center flex-column text-dark"
                            >
                                <li>{{ card.companyName }}</li>
                                <li>{{ card.occupation }}</li>
                                <li>{{ card.institution }}</li>
                                <li>{{ card.formation }}</li>
                                <li class="mt-5">
                                    <small>{{
                                        card.startDate
                                            | date: "dd/MM/yyyy"
                                    }}</small>
                                </li>
                                <div class="my-0 p-0" *ngIf="endDate(card)">
                                    <li><small>Até</small></li>
                                    <li>
                                        <small>{{
                                            card.endDate
                                                | date: "dd/MM/yyyy"
                                        }}</small>
                                    </li>
                                </div>
                                <li>{{ card.user.fullName }}</li>
                            </ul>
                        </div>

                        <div class="card-back d-flex flex-wrap">
                            <p class="btn btn-outline">
                                {{ card.description }}
                            </p>
                            <button class="btnCard btn-danger" *ngIf="user.type == 'adm'"
                                [routerLink]="['/delete-card', card.id]">
                                Deletar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- ! /Todas as publicações -->

        <!-- ? Publicações Profissionais-->
        <div class="tab-pane fade" id="publicacoesProfissionais" role="tabpanel" aria-labelledby="nav-publicacoesProfissionais-tab">
            
            <div class="d-flex flex-wrap">
                <div
                    class="flip-card-container m-3"
                    *ngFor="let card of cardListProf"
                >
                    <div class="flip-card">
                        <div class="card-front">
                            <ul
                            class="dois d-flex justify-content-center align-items-center flex-column text-dark"
                            >
                                <li>{{ card.companyName }}</li>
                                <li>{{ card.occupation }}</li>                                
                                <li class="mt-5">
                                    <small>{{
                                        card.startDate
                                            | date: "dd/MM/yyyy"
                                    }}</small>
                                </li>
                                <li>
                                    <small>{{
                                        card.endDate
                                            | date: "dd/MM/yyyy"
                                    }}</small>
                                </li>
                                <li>{{ card.user.fullName }}</li>
                            </ul>
                        </div>

                        <div class="card-back">
                            <p class="btn btn-outline">
                                {{ card.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- ? /Publicações Profissionais-->

        <!-- todo Publicações Educacionais -->
        <div class="tab-pane fade" id="publicacoesEducacionais" role="tabpanel" aria-labelledby="nav-publicacoesEducacionais-tab">
            
            <div class="d-flex flex-wrap">
                <div
                    class="flip-card-container m-3"
                    *ngFor="let card of cardListEduc"
                >
                    <div class="flip-card">
                        <div class="card-front">
                            <ul
                            class="dois d-flex justify-content-center align-items-center flex-column text-dark"
                            >                            
                                <li *ngIf="card.image != '' || card.image != null">{{ card.image }}</li>
                                <li>{{ card.institution }}</li>
                                <li>{{ card.formation }}</li>                                
                                <li class="mt-5">
                                    <small>{{
                                        card.startDate
                                            | date: "dd/MM/yyyy"
                                    }}</small>
                                </li>
                                <li>
                                    <small>{{
                                        card.endDate
                                            | date: "dd/MM/yyyy"
                                    }}</small>
                                </li>
                                <li>{{ card.user.fullName }}</li>
                            </ul>
                        </div>

                        <div class="card-back">
                            <p class="btn btn-outline">
                                {{ card.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- todo Publicações Educacionais -->

    </div>
</div>
<!-- ? /Publicações -->

