.col {
    background-color: #ffffff1e;
    border-radius: 2rem;
    color: #1f273f;
}

.btn {
    text-transform: uppercase;
    color: #fff;
    background-color: #1f273f;
    letter-spacing: 3px;
    transition: 0.4s;
    border-radius: 4px;
}

.btn:hover {
    color: rgb(122, 156, 189);
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transform: scaleX(1);
    transition-delay: 0.5s;
    
}

section{
    width: 85%;
    margin: 0% auto;
}

ul{
    list-style-type: none;
}

.principal{
  background-color: #ffffff1e;
  height: 40px;
  max-width: 65%;
  margin: 0% auto;
}

.principal li{
  display: inline-block;
  line-height: 2.5;
  margin: 0 89px
}

.principal a{
  color: #fff;
}

div a{
    color: #ffff;
}


.btnBar {
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    letter-spacing: 2px;
    transition: 0.4s;
    border: none;
    width: 300px;
}

