<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mt-5"></div>
        <div class="col-md-4 mt-5 mb-3" style="filter: 50px">
            <h1
                class="text-center mt-3 text-white text-uppercase"
                style="filter: none"
            >
                Cadastre sua conta
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 mt-3 mb-4">
            <div class="btn-group" role="group">
                <button class="btnBar mr-1">
                    <a href="#setup"
                        >Dados da Conta <span class="text-danger" title="Campo Obrigatório">*</span></a
                    >
                </button>
                <button class="btnBar">
                    <a href="#social">Dados Social</a>
                </button>
                <button class="btnBar">
                    <a href="#pessoal">Dados Pessoal</a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid vh-100">
    <div class="row">
        <div class="col-md-4 mt-5"></div>
        <div
            class="col col-md-4 mt-5 mb-5 d-flex justify-content-center"
            style="filter: 50px"
        >
            <div id="asteristico" class="row d-flex justify-content-center m-0 text-danger btn mt-2 bg-transparent" title="Campo Obrigatório">*</div>
            <div class="col-md-10">
                <section id="setup">
                    <div class="form-group mt-4 text-white">
                        <label for="nome">Nome</label>
                        <input
                            [(ngModel)]="user.fullName"
                            class="form-control"
                            type="text"
                            name="nome"
                            placeholder=" Digite seu nome completo"
                            (keyup)="validName()"
                        />
                        <div id="nome"></div>
                    </div>

                    <div class="form-group text-white">
                        <label for="email">Email</label>
                        <input
                            [(ngModel)]="user.email"
                            class="form-control"
                            type="email"
                            name="email"
                            placeholder="Digite seu Email"
                            (keyup)="validEmail()"
                        />
                        <div id="email"></div>
                    </div>
                    <div class="form-group text-white">
                        <label for="senha">Senha</label>
                        <input
                            (input)="confirmPassword($event)"
                            class="form-control"
                            type="password"
                            name="senha"
                            placeholder="Digite sua senha"
                            required
                            (keyup)="validPassword()"
                        />
                        <div id="senha"></div>
                    </div>

                    <div class="form-group mb-4 text-white">
                        <label for="confirmSenha">Confirmar Senha</label>
                        <input
                            [(ngModel)]="user.password"
                            class="form-control"
                            type="password"
                            name="confirmSenha"
                            placeholder="Confirme sua senha"
                            required
                            (keyup)="validConfPassword()"
                        />
                        <div id="confirmSenha"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>


    <div class="container-fluid vh-100">
        <div class="row">
            <div class="col-md-4 mt-5"></div>
            <div
                class="col col-md-4 mt-5 mb-5 d-flex justify-content-center"
                style="filter: 50px"
            >
                <div class="row d-flex justify-content-center m-0"></div>
                <div class="col-md-10">
                    <section id="social">
                        <div class="form-group text-white mt-3">
                            <label for="github">GitHub</label>
                            <input
                                [(ngModel)]="user.gitHub"
                                class="form-control"
                                type="text"
                                name="linkGithub"
                                id="github"
                                placeholder="Link GitHub"
                                required
                            />
                        </div>

                        <div class="form-group text-white mb-4">
                            <label for="linkedin">Linkedin</label>
                            <input
                                [(ngModel)]="user.linkedin"
                                class="form-control"
                                type="text"
                                name="linkLinkedin"
                                id="linkedin"
                                placeholder="Link Linkedin"
                                required
                            />
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="container-fluid vh-100">
            <div class="row">
                <div class="col-md-4 mt-5"></div>
                <div
                    class="col col-md-4 mt-5 mb-4 d-flex justify-content-center"
                    style="filter: 50px"
                >
                    <div class="row d-flex justify-content-center m-0"></div>
                    <div class="col-md-10">
                        <section id="pessoal">
                            <div class="form-group text-white mt-3">
                                <label for="telefone">Número de telefone</label>
                                <input
                                    [(ngModel)]="user.phoneNumber"
                                    class="form-control"
                                    type="text"
                                    name="telefone"
                                    id="telefone"
                                    placeholder=" Digite seu número de telefone e o DDD"
                                />
                            </div>

                            <div class="form-group text-white">
                                <label for="numTelefone">Cidade</label>
                                <input
                                    [(ngModel)]="user.city"
                                    class="form-control"
                                    type="text"
                                    name="cidade"
                                    id="cidade"
                                    placeholder="Digite a sua cidade e estado"
                                />
                            </div>

                            <div class="form-group text-white">
                                <label for="idade">Idade</label>
                                <input
                                    [(ngModel)]="user.age"
                                    class="form-control"
                                    type="number"
                                    name="idade"
                                    id="idade"
                                    placeholder="Digite a sua idade"
                                />
                            </div>

                            <div class="form-group text-white">
                                <label for="foto">Link da Foto</label>
                                <input
                                    [(ngModel)]="user.picture"
                                    class="form-control"
                                    type="text"
                                    name="usuario"
                                    id="picture"
                                    placeholder="Link da sua foto"
                                />
                            </div>

                            <div class="form-group mb-3 pr-0 pl-0 text-white">
                                <label for="tipoUsuario">Sexo</label>
                                <select
                                    class="form-control"
                                    name="tipo"
                                    id="tipo"
                                    (change)="gender($event)"
                                >
                                    <option>Selecione um sexo:</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                    <option value="Outros">Outros</option>
                                </select>
                            </div>

                            <div class="form-group mb-3 pr-0 pl-0 text-white">
                                <label for="tipoUsuario">Tipo de Usuario</label>
                                <select
                                    class="form-control"
                                    name="tipo"
                                    id="tipo"
                                    (change)="typeUser($event)"
                                >
                                    <option>
                                        Selecione um tipo de usuário:
                                    </option>
                                    <option value="adm">Administrador</option>
                                    <option value="padrao">Padrão</option>
                                </select>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div
                    class="col-md-6 d-flex justify-content-center"
                    style="filter: 50px"
                >
                    <div class="col-md-8">
                        <p
                            class="botao-roxo text-center font-weight-bolder bg-transparent text-white mb-4"
                        >
                            *Ao se cadastrar, você se compromete a agir de forma
                            respeitosa com os demais usuários da rede.
                        </p>
                        <div class="col-md-12 d-flex justify-content-center">
                            <button
                                type="submit"
                                class="btn mr-3 mb-4"
                                (click)="register()"
                            >
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Cadastrar
                            </button>
                            <button
                                type="submit"
                                class="btn mr-3 mb-4"
                                routerLink="/login"
                            >
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Voltar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
