<div class="container-fluid">


    <div class="row">

        <div class="col-md-4 mt-5"></div>

        <div class="col-md-5 mt-5 mb-5">

            <div class="row d-flex justify-content-center"></div>
            <div class="col-md-10">

                
                <h1 class="text-center">Cadastre-se</h1>
                
                <div></div>

                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input class="form-control" type="text" name="nome" id="nome" placeholder=" Digite seu nome completo">
                </div>

                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite seu usuário">
                </div>


                <div class="form-group">
                    <label for="numTelefone">Número de telefone</label>
                    <input class="form-control" type="text" name="numero de telefone" id="numero"
                        placeholder=" Digite seu número de telefone">
                </div>

                <div class="form-group">
                    <label for="numTelefone">Cidade</label>
                    <input class="form-control" type="text" name="cidade" id="cidade" placeholder="Digite a sua cidade">

                </div>

                <div class="form-group">
                    <label for="numTelefone">Idade</label>
                    <input class="form-control" type="text" name="idade" id="idade" placeholder="Digite a sua idade">
                </div>


                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">
                </div>


                <div class="form-group">
                    <label for="confirmSenha">Confirmar Senha</label>
                    <input class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                        placeholder="Confirme sua senha">
                </div>


                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-danger mr-4" routerLink="/entrar">Cancelar</button>
                    <button type="submit" class="btn btn-success">Cadastre-se</button>
                </div>






            </div>

        </div>

    </div>

</div>