.col {
    background-color: #ffffff1e;
    border-radius: 2rem;
    color: #1f273f;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 8px 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #281456;
    background-color: #ebded5;
    letter-spacing: 7px;
    font-size: 16px;
    transition: 0.5s;
    border-radius: 4px;
}

.btn:hover {
    color: #ebded5;
    background-color: #281456;
}

.btn span {
    display: block;
    position: absolute;
    background: #ebded5;
}

.btn span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 3px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.btn:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.btn span:nth-child(2) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.btn:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}

.btn span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 3px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.btn:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.btn span:nth-child(4) {
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.btn:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

section {
    width: 85%;
    margin: 0% auto;
}

ul {
    list-style-type: none;
}

.principal {
    background-color: #ffffff1e;
    height: 40px;
    max-width: 65%;
    margin: 0% auto;
}

.principal li {
    display: inline-block;
    line-height: 2.5;
    margin: 0 89px;
}

.principal a {
    color: #fff;
}

div a {
    color: #ffff;
}

.btnBar {
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    letter-spacing: 2px;
    transition: 0.4s;
    border: none;
    width: 300px;
    text-decoration: none;
}

#asteristico{
    height: 25px;
    width: 1px;
}